.datatable3 {
    /* border: 1px solid #080909; */
    border-collapse: collapse;

    /*float:left; */
}

.datatable3 td {
    border: 1px solid #000000;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-width: 1px;
}

.datatable3 th {
    border: 1px solid #050506;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #024a75;
    color: white;
    text-transform: uppercase;
    border-width: 1px;
}

.datatable4 {
    border: 0px solid #161616;
    border-collapse: collapse;
    font-size: 14px;
}

.datatable4 td {
    border: 0px solid #000000;
    padding: 5px;
}


.datatable5 {
    border: 1px solid #161616;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%
}

.datatable5 td {
    border: 1px solid #000000;
    padding: 5px;
    font-size: 11px;
}

.datatable5 th {
    border: 1px solid #4d4d4d;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    background-color: #d4d3d3cf
}

.datatable6 {
    border: 1px solid #161616;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%
}

.datatable6 td {
    border: 1px solid #000000;
    padding: 3px;
}

.datatable6 th {
    border: 1px solid #4d4d4d;
    font-weight: bold;
    text-align: left;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    background-color: #d4d3d3cf
}


.datatable7 {
    border: 0px solid #161616;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%
}

.datatable7 td {
    border: 0px solid #000000;
    padding: 3px;
}


.datatable8 {
    border: 1px solid #080909;
    border-collapse: collapse;

    /*float:left; */
}

.datatable8 td {
    border: 1px solid #000000;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-width: 1px;
}

.datatable8 th {
    border: 1px solid #050506;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #024a75; */
    /* color: white; */
    text-transform: uppercase;
    border-width: 1px;
}



.datatable9 {
    border: 0px solid #080909;
    border-collapse: collapse;

    /*float:left; */
}

.datatable9 td {
    border: 0px solid #000000;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* border-width: 1px; */
}

.datatable9 th {
    border: 0px solid #050506;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #024a75; */
    /* color: white; */
    text-transform: uppercase;
    /* border-width: 1px; */
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}


.center {
    text-align: center !important;
}

.green {
    background-color: #28a745 !important;
    color: white !important;
}

.blue {
    background-color: #1e67c6 !important;
    color: white !important;
}

.red {
    background-color: #c7473a !important;
    color: white !important;
}

.subtotal {
    border: 1px solid #050506;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #024a75;
    color: white;
    text-transform: uppercase;
}

.header {
    margin-top: 30px;
}
